body {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(163, 164, 164);
}
header {
  grid-area: a;
  color: rgb(168, 127, 23);
  margin-bottom: 2%;
  padding: 2%;
  box-shadow: 5px 5px 5px rgb(103, 103, 105),
    -0.5em -0.5em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(168, 127, 23);
  font-family: verdana;
}
content {
  margin-top: 6%;
  left: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3%;
  grid-auto-rows: 28%;
  grid-template-areas:
    "e a a a ."
    ". . . . ."
    ". b b b ."
    ". b b b ."
    ". . . . .";
  align-items: center;
}
#logo {
  grid-area: e;
  margin-bottom: 15%;
}
#meteo_display {
  grid-area: b;
  height: 89%;
  width: 95%;
  align-self: center;
  justify-self: center;
  padding: 5%;
  box-shadow: 4px 4px 2px rgb(103, 103, 105),
    -0.4em -0.6em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  border-radius: 10px;
  border: 7px solid rgb(168, 127, 23);
}
