body {
  background-image: url("./images/image_fond.jpg");
  background-size: 100%;
  margin: auto;
  width: 100%;
  height: 100%;
}
header {
  margin-top: 4%;
  grid-area: a;
  opacity: 0.8;
  color: rgb(168, 127, 23);
  margin-bottom: 5%;
  padding: 2%;
  box-shadow: 5px 5px 5px rgb(103, 103, 105),
    -0.5em -0.5em 2em rgb(102, 112, 112);
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(168, 127, 23);
  font-family: verdana;
}
h1 {
  font-size: 70%;
}
h3 {
  font-size: 70%;
}
p {
  font-size: 70%;
}
content {
  height: auto;
  width: 100%;
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5%;
  grid-template-areas:
    "e a a a ."
    ". c c c ."
    ". b b b ."
    ". b b b ."
    ". . . . ."
    ". d d d .";
  align-items: center;
}
#logo {
  grid-area: e;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-top: 5%;
}
#meteo_display {
  display: inline-block;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  grid-area: b;
  height: 170%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 7px solid rgb(168, 127, 23);
}
.titre_h3 {
  background-color: rgb(188, 172, 172);
  color: azure;
  height: 2rem;
  width: 8rem;
  text-align: center;
}
#user_input {
  display: inline-block;
  display: grid;
  grid-area: c;
  background-color: rgb(2, 20, 20);
  height: 3rem;
  margin-bottom: 4%;
  align-content: center;
}
form {
}
label {
  background-color: rgb(11, 182, 182);
}
input {
  color: aliceblue;
  background-color: rgb(68, 8, 25);
}
#country {
  align-items: center;
  background-color: aqua;
  height: 3rem;
  width: 100%;
}
#city {
  align-items: center;
  background-color: rgb(51, 101, 101);
  height: 3rem;
  max-width: 100%;
}
#latitude {
  align-items: center;
  background-color: rgb(8, 0, 255);
  height: 3rem;
  max-width: 100%;
}
#longitude {
  align-items: center;
  background-color: rgb(0, 255, 47);
  height: 3rem;
  max-width: 100%;
}
#temp {
  align-items: center;
  background-color: rgb(242, 0, 255);
  height: 3rem;
  max-width: 100%;
}
#wind {
  align-items: center;
  background-color: rgb(255, 0, 119);
  height: 3rem;
  max-width: 100%;
}

#country_place {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: azure;
  height: 4rem;
  width: 8rem;
}
#city_place {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: azure;
  height: 4rem;
  width: 8rem;
}
#latitude_place {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: azure;
  height: 4rem;
  width: 8rem;
}
#longitude_place {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: azure;
  height: 4rem;
  width: 8rem;
}
#temp_place {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: azure;
  height: 4rem;
  width: 8rem;
}
#wind_place {
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: azure;
  height: 4rem;
  width: 8rem;
}
#jours_suivants {
  display: grid;
  grid-area: d;
  position: inherit;
  background-color: rgb(2, 20, 20);
  height: 3rem;
  margin-bottom: 4%;
  align-content: center;
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: 160%;
  }
  h3 {
    font-size: 100%;
  }
  p {
    font-size: 110%;
  }
}
@media screen and (min-width: 550px) {
  #meteo_display {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10%;
    width: 100%;
  }
}
