body {
  background-image: url("./images/image_fond.jpg");
  background-size: 100%;
  margin: auto;
  width: 100%;
  height: auto;
}
header {
  margin-top: 4%;
  grid-area: a;
  opacity: 0.8;
  color: rgb(252, 251, 251);
  margin-bottom: 5%;
  padding: 2%;
  background-color: #ffffff;
  text-align: center;
  background-color: #2b2b2b;
  border-radius: 10px;
  border: 7px solid rgb(4, 4, 4);
  font-family: verdana;
}
h1 {
  font-size: 70%;
}
h3 {
  font-size: 70%;
  color: rgb(27, 28, 28);
}
p {
  font-size: 50%;
}
content {
  height: auto;
  width: 100%;
  opacity: 0.8;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1%;
  grid-template-areas:
    "e a a a ."
    ". c c c ."
    ". c c c ."
    ". b b b ."
    ". b b b ."
    ". d d d ."
    ". d d d ."
    ". . . . .";
  /*align-items: center;*/
}
#logo {
  grid-area: e;
  margin-bottom: 15%;
  margin-left: 5%;
  margin-top: 5%;
}
#user_input {
  display: grid;
  grid-area: c;
  width: 54%;
  height: 4rem;
  margin-bottom: 4%;
  align-content: center;
}
form {
  display: grid;
}
label {
  color: #ffffff;
  background-color: rgb(11, 182, 182);
}
input {
  color: aliceblue;
  text-align: center;
}
#input_choice {
  display: flex;
  background-color: #2b2b2b;
  font-size: 100%;
  border: 1px solid #ffffff;
}
.hauteur {
  height: 2.5rem;
} /* hauteur des cellules INPUT*/

#input_valid {
  display: flex;
  float: right;
  background-color: #2b2b2b;
  font-size: 14px;
  margin-top: 1%;
  margin-right: 2%;
}
#meteo_display {
  display: grid;
  grid-area: b;
  justify-content: center;
  margin: auto;
  height: 105%;
  width: 100%;
  background-color: #2b2b2b;
  border-radius: 10px;
  border: 7px solid rgb(4, 4, 4);
} /* Contenu METEO central MOBILE FIRST */

.titre_h3 {
  background-color: rgb(188, 172, 172);
  height: 2rem;
  width: 10rem;
  text-align: center;
  margin: auto;
}
.place_api_data {
  text-align: center;
  background-color: rgb(236, 235, 235);
  color: rgb(22, 1, 1);
  height: 4rem;
  width: 10rem;
  margin: auto;
}

#suivants_display {
  display: grid;
  grid-area: d;
  justify-content: center;
  margin-top: 4rem;
  background-color: #2b2b2b;
  border-radius: 10px;
  border: 7px solid rgb(4, 4, 4);
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}
.cote_cote {
  display: flex;
}
#date_place_j1,
#date_place_j2,
#date_place_j3,
#date_place_j4 {
  width: 40%;
  background-color: #299910;
}
#condition_place_j1,
#condition_place_j2,
#condition_place_j3,
#condition_place_j4 {
  width: 60%;
  background-color: #ba0e0e;
}

/* EN MODE DESKTOP...a partir de 550px, on prend ces caracteristiques, 
en plus ce celles au dessus*/

@media screen and (min-width: 550px) {
  h1 {
    font-size: 100%;
  }
  #input_choice {
    font-size: 170%;
  }
  #display_meteo {
    display: inline-block;
    text-align: center;
  }
}
